@tailwind base;
@tailwind components;
@tailwind utilities;

div:has(> [data-fs-field-errors]) {
	@apply pb-6;
}

[data-fs-label] {
	@apply mb-1 text-sm font-bold;
}

[data-fs-field-errors] {
	@apply absolute text-error-500;
}
